.Col {
    padding: 0px;
    margin-top: 60px;
}



.CardOne {
    padding: 0px;
    transform: translateX(-50%);
    opacity: 0; /* Start with 0 opacity */
    transition: transform 3s ease, opacity 3s ease; /* Add opacity transition */
    width: 100%; /* or any specific width */
    height: 500px; /* auto height maintains aspect ratio */
    overflow: hidden;
    border:none;
}

.CardTwo {
    padding: 0px;
    transform: translateX(50%);
    opacity: 0; /* Start with 0 opacity */
    transition: transform 3s ease, opacity 3s ease;
    border: none;

}

.CardThree {
    padding: 0px;
    transform: translateY(50%);
    opacity: 0; /* Start with 0 opacity */
    transition: transform 3s ease, opacity 3s ease;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

}

.CardOne.visible,
.CardTwo.visible {
    transform: translateX(0); /* Move both cards to meet in the middle */
    opacity: 1; /* Fade in */
}

.CardThree.visible {
    transform: translateY(0);  
    opacity: 1; 
}

.img {
    width: 100%; /* Makes the image fill the container width */
    height: 500px; /* Maintains the aspect ratio */
    object-fit: contain; /* Contains the image within container without cropping*/
}