.Col {
    padding: 0px;
}



.CardOne {
    padding: 0px;
    transform: translateX(-50%);
    opacity: 0; /* Start with 0 opacity */
    transition: transform 3s ease, opacity 3s ease; /* Add opacity transition */
}

.CardTwo {
    padding: 0px;
    transform: translateX(50%);
    opacity: 0; /* Start with 0 opacity */
    transition: transform 3s ease, opacity 3s ease;
}

.CardThree {
    padding: 0px;
    transform: translateY(50%);
    opacity: 0; /* Start with 0 opacity */
    transition: transform 3s ease, opacity 3s ease;

}

.CardOne.visible,
.CardTwo.visible {
    transform: translateX(0); /* Move both cards to meet in the middle */
    opacity: 1; /* Fade in */
}

.CardThree.visible {
    transform: translateY(0);  
    opacity: 1; 
}
